@import "blocks/container.scss";
@import "blocks/page-content.scss";
@import "blocks/page-header.scss";
@import "blocks/main-menu.scss";
@import "blocks/logo.scss";
@import "blocks/intro.scss";
@import "blocks/promo.scss";



@import "blocks/why-better.scss";
@import "blocks/advantages.scss";
@import "blocks/map.scss";

@import "blocks/video-controls.scss";
@import "blocks/gallery.scss";
@import "blocks/gallery-item.scss";
@import "blocks/gallery-video.scss";
@import "blocks/gallery.scss";
@import "blocks/comment.scss";
@import "blocks/offer.scss";

@import "blocks/review-form.scss";
@import "blocks/feedback-form.scss";



@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h2,
span,
p,
b {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  /* height: auto -Блок неебически разносит.*/ 
}

body {
  min-width: 320px;
  margin: 0;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}

@media (min-width: 1200px) {
  body {
    min-width: 1200px;
    
  }
}