/* color */

$lightblue: #81b3d2;
$white: #ffffff;
$lightgrey: #eeeeee;

/* fonts */

$title-font-size: 18px; 
$title-font-weight: bold;
$font-family: PT Sans, arial, sans-serif;

$text-font-size: 14px; 

/* media */

$tablet-width: (min-width: 768px);
$desctop-width: (min-width: 1200px);
