/* color */

$lightblue: #81b3d2;
$white: #ffffff;
$lightgrey: #eeeeee;

/* fonts */

$title-font-size: 18px; 
$title-font-weight: bold;
$title-font-family: PT Sans, sans-serif;

$text-font-size: 14px; 
$text-font-family: PT Sans, sans-serif;