.advantages {
  text-transform: uppercase;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
 
}

.advantages__title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  
}

.advantages__item {
  
}

.advantages__text {
  font-size: $text-font-size; 
}

.advantages__pic {
  fill: red;
}

.advantages__item--grey {
  background-color: $lightgrey;
  text-align: center;
  
}

.advantages__num {
  
}


@media (min-width: 768px) {
  .advantages {
    
    flex-direction: row;
  }
  .advantages__item {
    width: 33.33%;
    
  }
}