.feedback-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}



@media (min-width: 768px) {
  .feedback-form {
    min-height: 135px;
    box-sizing: border-box;
  }
  .feedback-form:nth-of-type(1) {
   max-width: 49%;
    
  } 
  .feedback-form:nth-of-type(3) {
    max-width: 49%;
    order: -1;
  }
  
  
}

@media (min-width: 1200px) {
  .feedback-form:nth-of-type(2) br {
        display: none;
  }
}