.feedback-form {
  width: 100%;
  border: none;
  position: relative;
  margin: 0;
  padding: 0 20px 0 20px;
  /*border-top: 1px solid #dbdbdb;*/
}

.feedback-form:before {
  content :'';
  position: absolute;
  min-width: 320px;
  height: 1px;
  background-color: #f2f2f2;
  top: 0;
  left: 0;
}








.feedback-form [type="checkbox"],
.feedback-form [type="radio"] {
  display:none;            
} 

input[type="checkbox"] + label, 
input[type="radio"] + label {
  cursor: pointer;
  position: relative;
}
input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 25px 0 0;
  background-color: #f2f2f2;
  border-radius: 50%;
}
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  height: 54px;
  width: 54px;
  
  margin: 0 25px 0 0;
  background-color: #f2f2f2;
}

input[type="checkbox"]:checked + label::after {
  position: absolute;
  top: 12px;
  left: 16px;
  content: "";
  height: 54px;
  width: 54px;
  margin: 0 5px 0 0;
  background: url(../img/icon-tick.svg) no-repeat;
  background-size: 25px 25px;
}

input[type="radio"]:checked + label::after {
  position: absolute;
  top: 15px;
  left: 15px;
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 5px 0 0;
  background-color: black;
}














@media (min-width: 768px) {
  .feedback-form {
    min-height: 135px;
    box-sizing: border-box;
  }
  .feedback-form:nth-of-type(1) {
   max-width: 49%;
    
  } 
  .feedback-form:nth-of-type(3) {
    max-width: 49%;
    order: -1;
  }
  .feedback-form:before {
    display: none; 
  }
  .feedback-form:first-of-type {
    border-left: 2px solid #f2f2f2;
  }
  
}

@media (min-width: 1200px) {
 /* .feedback-form:nth-of-type(2) br {
        display: none;
  }*/
}