.gallery-item {
  font-family: $font-family;
 /* background-color: lightgreen;*/
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid #d6d6d6;
  padding: 20px 0;
}
/*
.gallery-item:before {
  content: '';
  width: 100vw;
  height: 1px;
  top: 0;
  left: 0px;
  position: absolute;
  background-color: 
}*/


.gallery-item__link img{
    width: 100%;
  }

.gallery-item__title {
  font-size: $text-font-size;
  font-weight: $title-font-weight;
  text-transform: uppercase;
}

.gallery-item__author {
  font-size: $text-font-size;
  margin: 10px 0;
}




.gallery-item__likes-count {
  font-size: $text-font-size; 
  font-weight: $title-font-weight;
  margin-left: 10px;
}

.gallery-item__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


@media (min-width: 768px) {
  .gallery-item {
    width: 50%;
    border: none;
    padding: 0;
  }
  .gallery-item:first-of-type {
    width: 100%;
  }
  /*.gallery-item:before {
    display: none;
  }*/
  
  .gallery-item__footer {
    background-color: #eaeaea;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
  }
  
  .gallery-item-likes {
    margin-left: auto;
  }
  
  .gallery-item__footer--lighter {
    background-color: none;
    background-color: #f2f2f2;
  }
}

@media (min-width: 1200px) {
  .gallery-item {
    width: 33.333%;
  }
  
  .gallery-item__footer {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    padding: 0;
    color: $white;
    bottom: 5px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}