.gallery-item {
  font-family: $font-family;
  background-color: lightgreen;
  width: 100%;
}

.gallery-item__title {
  font-size: $text-font-size;
  font-weight: $title-font-weight;
  text-transform: uppercase;
}

.gallery-item__author {
  font-size: $text-font-size; 
}

.gallery-item__likes-count {
  font-size: $text-font-size; 
  font-weight: $title-font-weight;
}

@media (min-width: 768px) {
  .gallery-item {
    width: 50%;
  }
  .gallery-item:first-of-type {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .gallery-item {
    width: 33.333%;
  }
}