.gallery-item {
  font-family: $font-family;
 /* background-color: lightgreen;*/
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #d6d6d6;
  padding: 0 20px;
  min-height: 415px;
}
/*
.gallery-item:before {
  content: '';
  width: 100vw;
  height: 1px;
  top: 0;
  left: 0px;
  position: absolute;
  background-color: 
}*/

.gallery-item__link {
  display: flex;
  margin-top: 22px;
  background-color: lightgreen;
  box-sizing: border-box;
}
.gallery-item__link img{
    width: 100%;
    
  }

.gallery-item__text {
  margin-top: 15px;
}

.gallery-item__title {
  font-size: $text-font-size;
  font-weight: $title-font-weight;
  text-transform: uppercase;
  margin-top: 10px;
}

.gallery-item__author {
  font-size: $text-font-size;
  margin-top: 8px;
}


.gallery-item-likes {
  display: flex;
  margin-top: 10px;
  /*margin-bottom: 10px;*/
  
}
.gallery-item__likes-icon {
  width: auto;
  margin: 0;
}

.gallery-item__likes-count {
  font-size: $text-font-size; 
  font-weight: $title-font-weight;
  margin: 3px 0 0 14px;
}

.gallery-item__footer {
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px) {
  .gallery-item {
    width: 50%;
    border: none;
    padding: 0;
    min-height: 480px;
  }
  .gallery-item:first-of-type {
    width: 100%;
  }
  /*.gallery-item:before {
    display: none;
  }*/
  .gallery-item:first-of-type .gallery-item__link {
    min-height: 400px;
  }
  .gallery-item:first-of-type .gallery-item__footer {
    min-height: 80px;
  }
  
  .gallery-item__link {
    margin-top: 0;
  }
    
  .gallery-item__footer {
    background-color: #eaeaea;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
  }
  
  .gallery-item-likes {
    margin-left: auto;
  }
  
  .gallery-item__footer--lighter {
    background-color: none;
    background-color: #f2f2f2;
  }
}

@media (min-width: 1200px) {
  .gallery-item {
    width: 33.333%;
  }
  
  .gallery-item__footer {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    padding: 0;
    color: $white;
    bottom: 5px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}