.intro {
  min-height: 390px;
  background-size: cover;
  background-size: auto 100%;
  
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
  background-color: lightgreen;
}

.intro--small {
  min-height: 157px;
}


@media (min-width: 768px) {
  .intro {
    min-height: 520px;
    background-size: 100% auto;
  }
  .intro--small {
  min-height: 290px;
  }
  
}


@media (min-width: 1200px) {
  .intro {
    min-height: 303px;
  }
  

  
  
}