@import "../variables.scss";
/* Грант ругается на неопределенные переменные если не подключить к меню файл ¯\_(ツ)_/¯ */

.main-menu {
  background-color: $lightblue;
  &:after {
    content: "";
    position: absolute;
    top: 260px;
    right: 20px;
    width: 30px;
    height: 4px;
    background-color: $lightblue;
    box-shadow: 0 8px 0 0 $lightblue, 0 16px 0 0 $lightblue;
  }
  &:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    width: 23px;
    height: 23px;
    background-image: url(../img/icon-cross.svg);
    background-size: 23px 23px;
  }
}

.main-menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.main-menu__item {
  text-align: center;
  line-height: 55px;
  border-bottom: 1px solid grey; /*?*/
}
.main-menu__link {
  text-transform: uppercase;
  display: block;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  font-family: $font-family;
  text-decoration: none;
  color: $white;
  
  &:hover {
  color: $lightblue;
  }
  &:active {
    color: #a1968f;
  }
  &:active:hover {
    color: #604e43;
  }
    
}

@media (min-width: 768px) {
  .main-menu {
    background-color: $white;
    &:before,
    &:after {
      display: none;
    }
  }
  .main-menu__item {
    background-color: $white;
    border-bottom: none;
    width: 20%;
  }
  .main-menu__item:nth-child(2) {
    margin-right: 20%;
  }
  .main-menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .main-menu__link {
    color: #000000;
    font-size: $text-font-size;
  }
  
}
@media (min-width: 1200px) {
  .main-menu__item {
    line-height: 53px;
  }
}

