.map {
  min-height: 350px;
  width: 100%;
  background: url(../img/bg-map-mobile@1x.jpg) no-repeat;
  background-size: cover;
  /* no-repeat cover;*/
}

@media (min-width: 768px) {
  .map {
    min-height: 351px;
  }
}