.offer {
  font-family: $font-family;
  text-transform: uppercase;
  text-align: center;
  /*border-top: 1px solid lightgrey;*/
  
}

.offer__title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

.offer__text {
  font-size: $text-font-size; 
  padding: 20px;
}

.offer__btn {
  color: $white;
  background-color: $lightblue;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  width: 280px;
  line-height: 60px;
  margin-bottom: 50px;
  border: none;
}