.page-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.page-footer__tag {
  font-weight: $title-font-weight;
  font-family: $font-family;
  font-size: 21px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    min-height: 70px;
  }
}