.page-footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 245px;
}

.page-footer__tag {
  font-weight: $title-font-weight;
  font-family: $font-family;
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 36px;
}

@media (min-width: 768px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    min-height: 120px;
  }
  .page-footer__tag {
    margin-top: 45px;
  }
}

@media (min-width: 1200px) {
  
}