.page-footer {
  text-align: center;
}

.page-footer__tag {
  font-weight: $title-font-weight;
  font-family: $font-family;
  font-size: 21px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .page-footer__tag {
    width: 33%;
    float: left;
  }
}