


.promo__title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  font-family: $title-font-family;
}

.promo__text {
  font-size: $text-font-size; 
  font-family: $text-font-family;
}