
.promo {
  
  text-align: center;
  font-family: $font-family;
  text-transform: uppercase;
  min-height: 215px;
  padding: 20px;
  box-sizing: border-box;
}

.promo__title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  
  
}

.promo__text {
  font-size: $text-font-size; 
}


