.review-form {
  font-family: $font-family;
  text-transform: uppercase;
  background-color: lightgrey; /* для задания */
  
}

.review-form__inner {
  display: flex;
  flex-wrap: wrap;
}

.review-form__btn {
  color: $white;
  background-color: $lightblue;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  width: 280px;
  line-height: 60px;
  border: none;
  
  
}

.review-form__legend {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  
}

.review-form__label {
  font-size: $text-font-size; 
}

@media (min-width: 768px) {
  .review-form {
    position: relative;
  }
  .review-form__label-check{
    width: 46%; /* как вся форма сделана - полная хуйня, и мне правда стыдно :( */
  }
  .review-form__group--checkbox {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .review-form__group--checkbox {
    display: flex;
  }
  .review-form__label-check{
    width: auto;
  }
  
}