.review-form {
  font-family: $font-family;
  
  
}

.review-form__inner {
  display: flex;
  flex-wrap: wrap;
  
}





.review-form__legend:before {   /* маргины схлапываются - сделал пока так */
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  
}
.review-form__legend {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.review-form__group {
  display: flex;
  flex-direction: column;
}

.review-form__field {
  display: flex;
  margin-bottom: 25px;
  
}

.review-form__label {
  font-size: $text-font-size;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.review-form__input {
  background-color: #f2f2f2;
  border: none;
  height: 54px;
  margin-left: 15px;
  padding: 0 0 0 20px;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

.review-form__group--contact {
  margin-bottom: 28px;
}

.review-form__group--contact input {
  margin-left: 0;
  margin-top: 15px;
  position: relative;
}
.review-form__group--contact label {
  margin-left: 20px;
}
/*  не работает. х3. его просто не видит. */
.review-form__group--contact input:after {
  content: '';
  position: absolute;
  width: 54px;
  height: 54px;
  top: 0;
  right: 0;
  background-color: black;
}

.review-form__error {
  width: 100%;
  height: 47px;
  background-color: lightcoral;
}



.review-form__label-radio {
  font-weight: $title-font-weight;
  font-size: $title-font-size;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.review-form__group--radio {
  margin-bottom: 33px;
}

.review-form__group--checkbox {
  justify-content: flex-start;
  
}

.review-form__label-check {
  font-weight: $title-font-weight;
  font-size: $title-font-size;
  display: flex;
  align-items: center;
  min-height: 54px;
  margin-bottom: 5px;
  
}











.review-form__btn {
  color: $white;
  background-color: $lightblue;
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  width: 280px;
  line-height: 60px;
  border: none;
  
  
}









@media (min-width: 768px) {
  .review-form {
    position: relative;
  }
  .review-form__label-check{
    width: 46%; /* как вся форма сделана - полная хуйня, и мне правда стыдно :( */
  }
  .review-form__group--checkbox {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .review-form__group--checkbox {
    display: flex;
  }
  .review-form__label-check{
    width: auto;
  }
  
}