

.why-better {
  color: $white;
}

.why-better__reason {
  background-color: $lightblue;
}

.why-better__title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  font-family: $title-font-family;
}

.why-better__text {
  font-size: $text-font-size; 
  font-family: $text-font-family;
}