

.why-better {
  color: $white;
  text-transform: uppercase;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
}



.why-better__reason {
  background-color: $lightblue;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px 25px 20px;
}

.why-better__reason--reverse {
  min-height: 190px;
}

.why-better__title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
}

.why-better__text {
  font-size: $text-font-size; 
  padding: 20px;
  box-sizing: border-box;
}

.why-better__num {
  font-size: $text-font-size; 
}


.why-better__pic {
  background-color: lightgreen; /**/
  display: flex;
  align-items: flex-end
}


@media (min-width: 768px) {
  .why-better {
    flex-direction: row; 
    
  }
  
  .why-better__reason {
    width: 33.33%;
    padding: 45px;
  }
  .why-better__pic {
    width: 66.66%;
    
  }
  .why-better--reverse {
    flex-direction: row-reverse; 
  }
  .why-better__title {
    font-size: $tablet-title-font-size;
  }
  
}

@media (min-width: 1200px) {
  .why-better__reason {
    padding: 45px 60px 50px 60px;
  }
  
}